.ipynb_checkpoints/
CLI11/
Expirements/
MoNetV1
Pangolin/
SplineCDF
SplineV1
SplineV2
SplineV4
__pycache__/
bin/
build/
chamfer_distance/
core
data/
deep_sdf/__init__.pyc
deep_sdf/__pycache__/
deep_sdf/data.pyc
deep_sdf/metrics/__pycache__/
examples/cars/
examples/cars_cleared/
examples/
latentVecs.csv
nanoflann/
networks/__pycache__/
out.txt
preprocess_out
pyntcloud_plot.config.json
pyntcloud_plot.html
pyntcloud_plot.ply
pyntcloud_plot_assets/
training.error
pyopengl/
PyMesh/
atlas_maesh.ply
atlasnet/
atlasnet_retrained/
test_deformed.ply
test_orig.ply
